{{define "aboutMe"}}
<!DOCTYPE html>
<html>
<head>
    {{template "header" .}}
</head>
<body onunload='' class="aboutMe fadeOut">

    {{$first := 0}}
    {{$one := 1}}
    <div class="outerDiv" style="height: 100%;">
        {{range .WorkSlides}}
            {{if eq $first 0}}
            <div class="textBlock current">
            {{else}}
            <div class="textBlock">
            {{end}}
            {{$first = add $first $one}}

            <div class="job">
                <h1>{{.Title}}</h1>
                <h4>{{.Date}}</h4>
                <div class="scrollable">
                    {{.Body}}
                </div>
            </div>
        </div>
        {{end}}
    </div>
    {{if gt $first 1}}
    <button id="next"><img src="./images/next_arrow.png"/></button>
    <button id="previous"><img src="./images/next_arrow.png"/></button>
    {{end}}

{{template "footer" .}}
    <script src="/scripts/carousel.min.js"></script>
    <script>
        //$("#aboutMe").bind('click', preventDefault);
        $("#home").click(function (event) {
            event.preventDefault();
            $('body').addClass("fadeOut");
            setTimeout(function () { $("#homeReal")[0].click(); }, 300);
        });

        $("#work").click(function (event) {
            event.preventDefault();
            $('body').addClass("fadeOut");
            setTimeout(function () { $("#workReal")[0].click(); }, 300);
        });

        $(function () {
            $('body').removeClass('fadeOut');
        });
    </script>
</body>
</html>
{{end}}