{{define "aboutMe"}}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Raleway:200|Montserrat|Aleo|Ubuntu:700" rel="stylesheet">
    <link rel="stylesheet" href="./styles/main_style.css" />
	<title>Tyler Stoney - About Me</title>
</head>
<body onunload='' class="aboutMe fadeOut">

<div class="outerDiv" style="height: 100%;">
    <div class="textBlock current">
        <div class="job">
            <h1>Brief Bio</h1>
            <div class="scrollable">
                <p>
                I am a 24 year-old student currently pursuing a Master's degree
                in CS/Software Engineering at Kutztown University of Pennsylvania.
                </p>
                <p>
                I am still looking for my niche when it comes to a speciality,
                and though the majority of my work has been web development, I am
                not opposed to branching out to other fields.
                </p>
                <p>
                When I'm not programming for work or school, you can catch me
                starting (and subsequently not finishing) side projects such as
                this website.
                </p>
                <p>
                I play the guitar, but my true musical prowess shines with a more
                "hands-on" instrument, if you will excuse the pun.<br>
                <a href="https://www.youtube.com/watch?v=i1c04Qxx9Jk"><u>(Link to the most popular video)</u></a>
                </p>
            </div>
        </div>
    </div>
    <div class="textBlock">
        <div class="job">
            <p>
            This page is still a work in progress.<br>
            Maybe it's a metaphor for how I'm still "searching for myself", or some fluff like that.<br>
            </p>
        </div>
    </div>

</div>
    <button id="next"><img src="./images/next_arrow.png"/></button>
    <button id="previous"><img src="./images/next_arrow.png"/></button>

{{template "footer" .}}
    <script src="/scripts/carousel.js"></script>
    <script>
        //$("#aboutMe").bind('click', preventDefault);
        $("#home").click(function (event) {
            event.preventDefault();
            $('body').addClass("fadeOut");
            setTimeout(function () { $("#homeReal")[0].click(); }, 300);
        });

        $("#work").click(function (event) {
            event.preventDefault();
            $('body').addClass("fadeOut");
            setTimeout(function () { $("#workReal")[0].click(); }, 300);
        });

        $(function () {
            $('body').removeClass('fadeOut');
        });
    </script>
</body>
</html>
{{end}}