{{define "edit"}}
<!DOCTYPE html>
<html>
<head>
{{template "header" .}}
<style>
html, body{
	overflow-y: scroll;
}
.error {
	color:tomato;
}
.success {
	color:seagreen;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
</style>
</head>
<body class="edit">
	<div id="edit mainContent">	
		{{$Table := .Table}}
		<h1>Editing Page: {{$Table}}</h1>
		<h3>Pages:
			{{range .TableNames}}
			<a href="/edit?table={{.}}" class="button">{{.}}</a>
			{{end}}
		</h3>
		<span class={{.Notif.MsgClass}}>{{.Notif.MsgData}}</span><br/>
		{{range .WorkSlides}}
		<h2>{{.Title}}</h2>
		<button onClick="toggleEdit({{.RowId}});return false;">Edit Slide {{.DispOrder}}</button>
		<div id={{.RowId}} style="display:none;">
			<form method="POST">
				<input style="display:none;" name="rowid" value={{.RowId}}>
				<input style="display:none;" name="table" value={{$Table}}>

				<label for="num{{.RowId}}">Display Order:</label><br>
				<input type="number" id="num{{.RowId}}" name="num" value={{.DispOrder}}><br/>

				<label for="name{{.RowId}}">Slide Title:</label><br>
				<input type="text" id="name{{.RowId}}" name="name" value={{.Title}}> <!--Name--><br/>
				
				<label for="date{{.RowId}}">Date:</label><br>
				<input type="text" id="date{{.RowId}}" name="date" value={{.Date}}> <!--Date--><br/>
				
				<textarea name="body">{{.Body}}</textarea> <!--Body--><br/>
				<br/>

				<label for="delete{{.RowId}}">Delete?</label>
				<input id="delete{{.RowId}}" name="delete" value="{{.RowId}}" type="checkbox"><br/>

				<button type='submit'>Submit</button>
			</form>
		</div>
		<hr/>
		{{end}}
		{{$tableNotFound := "Table not found."}}
		{{if and (ne .Notif.MsgData $tableNotFound) (ne $Table "") }}
		<button onClick="toggleEdit('newSlide');return false;">+New Slide</button>
		<div id="newSlide" style="display:none;">
			<form method="POST">
				<input style="display:none;" name="rowid" value="NEW">

				<label for="numNew">Display Order:</label><br>
				<input type="number" name="num" id="numNew"><br/>

				<label for="nameNew">Slide Title:</label><br>
				<input type="text" name="name" id="nameNew"> <!--Name--><br/>
				
				<label for="dateNew">Date:</label><br>
				<input type="text" name="date" id="dateNew"> <!--Date--><br/>
				
				<textarea name="body"></textarea> <!--Body--><br/>
				<br/>

				<button type='submit'>Submit</button>
			</form>
		</div>
		{{end}}
		<!-- <hr/> -->
	</div>
	<script>
		function toggleEdit(rowId) {
			var slideDiv = document.getElementById(rowId);
			if(slideDiv.style.display == "none")
				slideDiv.style.display = "block";
			else
				slideDiv.style.display = "none";
		}
	</script>
</body>
</html>
{{end}}