{{define "edit"}}
<!DOCTYPE html>
<html>
<head>
{{template "header" .}}
<style>
html, body{
	overflow-y: scroll;
}
.error {
	color:tomato;
}
.success {
	color:seagreen;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
</style>
</head>
<body class="edit">
	<table style="height:100%;">
	<tr>
		<td>
		<div id="edit mainContent">
			{{$Table := .Table}}
			<h1>Editing Page: {{$Table}}</h1>

			<h3>Pages:</h3>
			{{range .TableNames}}
				<a href="/submit?table={{.}}" class="button">{{.}}</a>
			{{end}}

			<span class={{.Notif.MsgClass}}>{{.Notif.MsgData}}</span><br/>

			<h3>Files:</h3>
			<div id="files">
			{{range .FileNames}}
				<a href="{{.}}" class='file'>{{.}}</a>
				<br/>
			{{end}}
			</div>
		</div>
		</td>
		<td>
		<textarea id='fileEditor' style='display:none; min-width:500px; width: 80%; min-height:500px; height: 80%;'></textarea>

		{{range .WorkSlides}}
		<h2>{{.Title}}</h2>
		<button onClick="toggleEdit({{.RowId}});return false;">Edit Slide {{.DispOrder}}</button>
		<div id={{.RowId}} style="display:none;">
			<form method="POST">
				<input style="display:none;" name="rowid" value={{.RowId}}>
				<input style="display:none;" name="table" value={{$Table}}>

				<label for="num{{.RowId}}">Display Order:</label><br>
				<input type="number" id="num{{.RowId}}" name="num" value={{.DispOrder}}><br/>

				<label for="name{{.RowId}}">Slide Title:</label><br>
				<input type="text" id="name{{.RowId}}" name="name" value={{.Title}}> <!--Name--><br/>

				<label for="date{{.RowId}}">Date:</label><br>
				<input type="text" id="date{{.RowId}}" name="date" value={{.Date}}> <!--Date--><br/>

				<textarea name="body">{{.Body}}</textarea> <!--Body--><br/>
				<br/>

				<label for="delete{{.RowId}}">Delete?</label>
				<input id="delete{{.RowId}}" name="delete" value="{{.RowId}}" type="checkbox"><br/>

				<button type='submit'>Submit</button>
			</form>
		</div>
		<hr/>
		{{end}}
		{{$tableNotFound := "Table not found."}}
		{{if and (ne .Notif.MsgData $tableNotFound) (ne $Table "") }}
		<button onClick="toggleEdit('newSlide');return false;">+New Slide</button>
		<div id="newSlide" style="display:none;">
			<form method="POST">
				<input style="display:none;" name="rowid" value="NEW">

				<label for="numNew">Display Order:</label><br>
				<input type="number" name="num" id="numNew"><br/>

				<label for="nameNew">Slide Title:</label><br>
				<input type="text" name="name" id="nameNew"> <!--Name--><br/>

				<label for="dateNew">Date:</label><br>
				<input type="text" name="date" id="dateNew"> <!--Date--><br/>

				<textarea name="body"></textarea> <!--Body--><br/>
				<br/>

				<button type='submit'>Submit</button>
			</form>
		</div>
		{{end}}
		<!-- <hr/> -->
		</td>
	</tr>
	</table>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	    crossorigin="anonymous"></script>
	<script>
		function toggleEdit(rowId) {
			var slideDiv = document.getElementById(rowId);
			if(slideDiv.style.display == "none")
				slideDiv.style.display = "block";
			else
				slideDiv.style.display = "none";
		}

		function toggleShowFolder(folderClass) {
			var folder = $("."+folderClass);
			var buttonClass = folderClass.toUpperCase();
			if(folder.css( "display" ) == "none") {
				folder.css( "display", "block" );
				$("."+buttonClass).html($("."+buttonClass).html().replace("+", "-"));
			}
			else {
				folder.css( "display", "none" );
				$("."+buttonClass).html($("."+buttonClass).html().replace("-", "+"));
			}
		}

		function organizeFiles() {
			var $files = $("#files");
			var names = $files.children().filter("a");
			$files.html('');
			var homeDiv = $("<div class='home' style='display:none; margin-left:20px;'></div><br>").append("<br>");
			$files.append(homeDiv);
			$(".home").before($("<button class='HOME' onclick='toggleShowFolder(\"home\");'>[+] home</button>"));

			for (let i = 0; i < names.length; i++) {
				var full_path = $(names[i]).html().split("/");
				full_path.unshift('home');
				var fn = $(full_path).get(-1);
				$(names[i]).html(fn);
				full_path.pop();
				var indentation = 0; // Will be used to shift folders/contents
									 // to make the list look more 'tree-like'

				// Ensures all "folders" are created
				for (let j = 1; j < full_path.length; j++) {
					indentation += 40;
					// Search for subfolder in current folder
					// Create 'folder' div if not found
					if ( $("."+full_path.slice(0, j).join('')).find("."+full_path.slice(0, j+1).join('')).length == 0 ) {
						var newClass = full_path.slice(0, j+1).join('');
						var newDiv = $("<div class='"+newClass+
									"' style='display:none; margin-left: "+indentation+"px;'></div>").append("<br>");
						$("."+full_path.slice(0, j).join('')).append(newDiv);
						var newButton = $("<br><button class='"+newClass.toUpperCase() +
											"' onclick='toggleShowFolder(\""+newClass+"\");'>"
											+ "[+] " + full_path[j] + "</button><br/>");
						newDiv.before(newButton);
					}
				}
				
				// Put the file at the beginning of the files list, not after any
				//  other folders that may have been created in the meantime.
				var $last_a = $("."+full_path.join('')).children("a").nextUntil("button");
				if ($last_a.length)
					$last_a.parent().prepend($(names[i])).prepend("<br>");
				else
					$("."+full_path.join('')).append($(names[i])).append("<br>");
			}
		}

		$(document).ready(function(){
			organizeFiles();
		});

		$(document).ready(function () {
			$('.file').click(function (e) {
				e.preventDefault();
				$.ajax({
					url: 'submit',
					type: 'post',
					data: { ajax: true, file: $(this).attr("href") },
					success: function (data) {
						$('#fileEditor').val(data);
						$('#fileEditor').css('display', 'block');
					},
				});
			});
		});
	</script>
</body>

</html>
{{end}}
