{{define "edit"}}
<!DOCTYPE html>
<html>
<head>
{{template "header" .}}
<style>
html, body{
	overflow-y: scroll;
    color:black;
}
.error {
    color:tomato;
}
.success {
	color:seagreen;
}
a {
    color:black;
}
.editing {
background-color: #FFFF00;
}
.file {
   color:black;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
#fileEditor {
	min-width:600px;
	width: 80%;
	min-height:600px;
	height: 80%;
}
</style>
</head>
<body class="edit">
	<table style="height:100%;">
	<tr style="height:100%;">
		<td>
		<div id="edit mainContent" style="position: absolute; top:0%;">
			{{$Table := .Table}}
			{{if ne $Table ""}}
			<h1>Editing Page: {{$Table}}</h1>
			{{end}}

			<h3>Pages:</h3>
			{{range .TableNames}}
				<a href="/edit?table={{.}}" class="button">{{.}}</a>
			{{end}}

			<span class={{.Notif.MsgClass}}>{{.Notif.MsgData}}</span><br/>

			<h3>Files:</h3>
			<div id="files">
			{{range .FileNames}}
				<a href="{{.}}" class='file'>{{.}}</a>
				<br/>
			{{end}}
			</div>
		</div>
		</td>
		<td style="position:relative; left:45%;">
			<form id='fileEditorForm' style='display: none;'>
				<div id='submitMessage'></div><br/>
				<input type='text' name='openFileName' id='openFileName' readonly="readonly" /><br />
				<textarea name='openFile' id='fileEditor'></textarea><br />
				<a id='submitButton' class='button'>Save File</a>
			</form>
		{{range .WorkSlides}}
		<h2>{{.Title}}</h2>
		<button onClick="toggleEdit({{.RowId}});return false;">Edit Slide {{.DispOrder}}</button>
		<div id={{.RowId}} style="display:none;">
			<form method="POST">
				<input style="display:none;" name="rowid" value={{.RowId}}>
				<input style="display:none;" name="table" value={{$Table}}>

				<label for="num{{.RowId}}">Display Order:</label><br>
				<input type="number" id="num{{.RowId}}" name="num" value={{.DispOrder}}><br/>

				<label for="name{{.RowId}}">Slide Title:</label><br>
				<input type="text" id="name{{.RowId}}" name="name" value={{.Title}}> <!--Name--><br/>

				<label for="date{{.RowId}}">Date:</label><br>
				<input type="text" id="date{{.RowId}}" name="date" value={{.Date}}> <!--Date--><br/>

				<textarea name="body">{{.Body}}</textarea> <!--Body--><br/>
				<br/>

				<label for="delete{{.RowId}}">Delete?</label>
				<input id="delete{{.RowId}}" name="delete" value="{{.RowId}}" type="checkbox"><br/>

				<button type='submit'>Submit</button>
			</form>
		</div>
		<hr/>
		{{end}}
		{{$tableNotFound := "Table not found."}}
		{{if and (ne .Notif.MsgData $tableNotFound) (ne $Table "") }}
		<button onClick="toggleEdit('newSlide');return false;">+New Slide</button>
		<div id="newSlide" style="display:none;">
			<form method="POST">
				<input style="display:none;" name="rowid" value="NEW">

				<label for="numNew">Display Order:</label><br>
				<input type="number" name="num" id="numNew"><br/>

				<label for="nameNew">Slide Title:</label><br>
				<input type="text" name="name" id="nameNew"> <!--Name--><br/>

				<label for="dateNew">Date:</label><br>
				<input type="text" name="date" id="dateNew"> <!--Date--><br/>

				<textarea name="body"></textarea> <!--Body--><br/>
				<br/>

				<button type='submit'>Submit</button>
			</form>
		</div>
		{{end}}
		<!-- <hr/> -->
		</td>
	</tr>
	</table>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	    crossorigin="anonymous"></script>
	<script src="./scripts/edit.js"></script>
</body>

</html>
{{end}}
