{{define "work"}}
<!DOCTYPE html>
<html>
{{template "header" .}}
<body onunload='' class="work fadeOut">

<div class="outerDiv" style="height: 100%;">
    <div class="textBlock current">
        <div class="job">
            <h1>This Website</h1>
            <h4>December 2018</h4>
            <div class="scrollable">
                <p>I wrote this site from the ground up. No plugins, no frameworks,
                    just good old-fashioned HTML, CSS, and JS (and liberal amounts of
                    JQuery, of course).  
                </p>
                <p>This site's meager backend is powered by Go, and I couldn't be happier that I'm
                    not using PHP! :)
                </p>
                <p>
                    I am not a particularly creative fellow.<br>
                    The layout and feel of this site was <i>HEAVILY</i> inspired
                    by <a style="text-decoration: underline;" href="https://elje-group.com/en/home.html">The Elje Group's homepage.</a>
                </p>
            </div>
        </div>
    </div>
    <div class="textBlock" >
        <div class="job">
            <h1>Graduate Assistantship</h1>
            <h4>January 2018 - Present</h4>
            <div class="scrollable">
                <p>For ~20 hours a week, I provide assistance to any undergrads
                    (and some graduate students!) who need a hand with whatever their
                    current programming assignment is.</p>
                <p>On the side, I work on projects for the department.<br>
                    I completely overhauled an existing website which provides
                    access to department heads to send email blasts to students and
                    alumni based on the site's form's search criteria.<br><br>
                    Most recently, I was tasked with laying down the foundation for
                    creation of an AI which can play Starcraft.
                </p>
            </div>
        </div>
    </div>
    <div class="textBlock">
        <div class="job">
            <h1>Data Analyst (Internship)</h1>
            <h4>September 2018 - November 2018</h4>
            <div class="scrollable">
                <p>For the Fall 2018 semester, I was tasked by the Kutztown University
                    Foundation to analyze donor data and run predictive analyses on the
                    data sets to create lists of potential high donors from a list of
                    people affiliated with the university.<br>
                    Most of the work went into scripting methods of cleaning and extracting
                    'better' data from the data sets; this was done with Python.<br>
                    I used Weka to do the actual analysis, and put the predictions back
                    into another Python script I wrote to rank the constituents and form
                    a list based on the model's confidence and how highly the constituent was ranked.
                </p>
            </div>
        </div>
    </div>

    <div class="textBlock">
        <div class="job">
            <h1>Student Log Book</h1>
            <h4>October 2018</h4>
            <div class="scrollable">
                <p>
                    As a Graduate Assistant, part of our job is tracking
                    students who come in the office: name, time in, time out,
                    reason for visit, class, professor, etc. We formerly had
                    an Excel spreadsheet and had to log students manually.
                </p>
                <p>This web app I wrote expedites the logging of students
                    by keeping track of as much info as possible, and storing
                    the info in a database with a single click. Everything is
                    called via AJAX, for max-user-friendlyness.
                </p>
                <p>Tools used: HTML, PHP, JS/JQuery, Materialize CSS </p>
                <a href="https://github.com/tston529/ga-log"><u>Link to its Github page</u></a>
            </div>
        </div>
    </div>
</div>
    <button id="next"><img src="./images/next_arrow.png"/></button>
    <button id="previous"><img src="./images/next_arrow.png"/></button>
            

{{template "footer" .}}
    <script src="/scripts/carousel.js"></script>

    <script>
        $("#home").click(function (event) {
            event.preventDefault();
            $('body').addClass("fadeOut");
            setTimeout(function () { $("#homeReal")[0].click(); }, 300);
        });

        $("#aboutMe").click(function (event) {
            event.preventDefault();
            $('body').addClass("fadeOut");
            setTimeout(function () { $("#aboutMeReal")[0].click(); }, 300);
        });

        $("#work").click(function (event) {
            event.preventDefault();
        })

        $(function () {
            $('body').removeClass('fadeOut');
        });
    </script>
</body>
</html>
{{end}}