{{define "work"}}
<!DOCTYPE html>
<html>
{{template "header" .}}
<body class="work fadeOut">

<div class="outerDiv" style="height: 100%;">
    {{range .WorkSlides}}
    {{$first := true}}
        {{if $first}}
        <div class="textBlock current">
        {{$first = false}}
        {{else}}
        <div class="textBlock">
        {{end}}

        <div class="job">
            <h1>{{.Title}}</h1>
            <h4>{{.Date}}</h4>
            <div class="scrollable">
                {{.Body}}
            </div>
        </div>
    </div>
    {{end}}
</div>
    <button id="next"><img src="./images/next_arrow.png"/></button>
    <button id="previous"><img src="./images/next_arrow.png"/></button>
            

{{template "footer" .}}
    <script src="/scripts/carousel_min.js"></script>

    <script>
        $("#home").click(function (event) {
            event.preventDefault();
            $('body').addClass("fadeOut");
            setTimeout(function () { $("#homeReal")[0].click(); }, 300);
        });

        $("#aboutMe").click(function (event) {
            event.preventDefault();
            $('body').addClass("fadeOut");
            setTimeout(function () { $("#aboutMeReal")[0].click(); }, 300);
        });

        $("#work").click(function (event) {
            event.preventDefault();
        })

        $(function () {
            $('body').removeClass('fadeOut');
        });
    </script>
</body>
</html>
{{end}}