/**
 * Mobile
 */
@media only screen and (max-width: 640px) {
    html {
        min-height: 100%;
        overflow: hidden;
        margin: 0px;
        display: block;
    }
    
    body {
        opacity: 1;
        transition: .7s opacity;
        min-height: 100%;
        width: 100%;
        margin: 0px;
        display: block;
        overflow: hidden;
    }

	canvas {
	    padding-left: 0;
	    padding-right: 0;
	    margin-left: auto;
	    margin-right: auto;
	    position: absolute;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    max-width:640px;
        min-width: 300px;
	    height:100%;
        width:100%;
	}

	.desktop {
		display:none;
	}

	.mobile {
		display: block;
	}

    .contact {
    	z-index: 2;
        text-align: center;
        position:fixed;
        bottom:5%;
        left: 88px;
    }

    .textBox {
        width:100%;
        display: table;
        text-align: center;
        position: absolute;
        top: 20%;
    }

    .heroText {
	    text-align: center;
	    bottom:0%;
	    position: relative;
	    display: inline-block;
    }

    .contact a img {
        width: 75px;
        height:auto;
    }

    .chromeContact {
        left:74px;
    }

    @media only screen and (max-height: 429px) {
    	#mobileNav {
			font-family: 'Aleo', serif;
		    font-size: 2em;
		    list-style:none;
		    line-height: 40px;
		    text-align: right;
		    padding-right:50px;
		    position: relative;

		    max-width: 640px;
		    width:300px;
		    margin: -100px 0 0 -50px;
		    padding-top: 90px;
		    background: #232323;
		    height:768px;

			transform-origin: 0% 0%;
			opacity: 0;
			transform: translate(-200%, 0);
			transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				opacity 0.5s ease-in;
	        -webkit-transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	            opacity 0.5s ease-in;
	        -moz-transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	            opacity 0.5s ease-in;
		}

		#mobileNav li {
			position:relative;
			left:-70px;
		}

		.contact {
	        left: 98px;
	    }
		.contact a img {
	        width: 75px;
	    }

	    .chromeContact {
	        left:94px;
	    }
	}

    @media only screen and (min-height: 430px) {

    	.contact a img {
	        width: 90px;
	        height: auto;
	    }

	    .chromeContact {
	        left:84px;
	    }
		#mobileNav {
			font-family: 'Aleo', serif;
		    font-size: 2em;
		    list-style:none;
		    line-height: 50px;
		    text-align: right;
		    padding-right:50px;
		    position: relative;

		    max-width: 640px;
		    width:300px;
		    margin: -100px 0 0 -50px;
		    padding-top: 125px;
		    background: #232323;
		    height:768px;

			transform-origin: 0% 0%;
			opacity: 0;
			transform: translate(-200%, 0);
			transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				opacity 0.5s ease-in;
	        -webkit-transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	            opacity 0.5s ease-in;
	        -moz-transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	            opacity 0.5s ease-in;
		}

		#mobileNav li {
			position:relative;
			left:-70px;
		}

		#wave {
		  position: relative;
		  height: 70px;
		  /*background: #232323;*/
		}

		#wave:before {
	        content: "";
	        display: block;
	        position: absolute;
	        border-radius: 100% 50%;
	        width: 240px;
		    height: 120px;
		    background-color: #232323;
		    /*left:-140px;*/
		    left: -62px;
		    top: 528px;
		    z-index: 1;
		    transition: top 0.5s ease;
		}

		#wave:after {
	        content: "";
	        display: block;
	        position: absolute;
	        border-radius: 100% 50%;
	        width: 300px;
		    height: 70px;
		    /*left:-98px;*/
		    left:50px;
		    background-color: #232323;
		    top: 542px;
		    z-index: 1;
		}
	}

	

	


	/*
	 * Made by Erik Terwan
	 * 24th of November 2015
	 * MIT License
	 *
	 *
	 * If you are thinking of using this in
	 * production code, beware of the browser
	 * prefixes.
	 * 
	 * Modified by Tyler Stoney
	 */

	#hamburger input:checked ~ ul
	{
		opacity: 1;
	  transform: none;
	}

    #hamburger input:checked ~ ul .contact
    {
        opacity: 1;
    }

	#hamburger span {
    	display: block;
    	/*width: 33px;*/
    	width: 50px;
    	height: 5px;
    	margin-bottom: 8px;
    	position: relative;

    	background: white;
    	border-radius: 3px;

    	z-index: 1;

    	transform-origin: 4px 0px;

    	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    	          background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    	          opacity 0.55s ease;
	}

	#hamburger
	{
	  display: block;
	  position: relative;
	  top: 20px;
	  left: 20px;
      width: 10px;
      height: 1px;
	  
	  z-index: 1;
	  
	  -webkit-user-select: none;
	  user-select: none;
	}

	#hamburger input
	{
        display: block;
        width: 50px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;

        cursor: pointer;

        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */

        -webkit-touch-callout: none;
	}

	#hamburger span:first-child, #hamburger span:nth-last-child(3)
	{
	  transform-origin: 0% 0%;
	}

	#hamburger span:nth-last-child(2)
	{
	  transform-origin: 0% 100%;
	}

	/* 
	 * Transform all the slices of hamburger
	 * into a crossmark.
	 */
	#hamburger input:checked ~ span
	{
	  opacity: 1;
	  /*transform: rotate(315deg) translate(0px, 5px);*/
	  transform: rotate(135deg) translate(-24px, -32px);
	}

	/*
	 * But let's hide the middle one.
	 */
	#hamburger input:checked ~ span:nth-last-child(2)
	{
	  opacity: 0;
	  transform: translate(0px, 10px);
	}

	/*
	 * Ohyeah and the last one should go the other direction
	 */
	#hamburger input:checked ~ span:nth-last-child(3)
	{
		opacity: 1;
		/*background-color: tomato;*/
	  	/*transform: rotate(-135deg) translate(-39px, 0px);*/
	  	transform: rotate(-135deg) translate(-49px, 11px);
	}

	.footer {
        font-family: "Raleway", sans-serif;
        font-size: 16px;
        color:white;
        position: fixed;
        bottom: 0px;
        z-index: 2;
    }

	@media only screen and (min-height: 851px){

	    .footer {
	        font-family: "Raleway", sans-serif;
	        font-size: 16px;
	        color:white;
	        position: absolute;
	        bottom: 0px;
	        z-index: 2;
	    }

	    .contact {
	    	z-index: 2;
	        text-align: center;
	        position:absolute;
	        bottom:5%;
	    }

	    .chromeContact {
	        right:50px;
	    }
	}

    #previous {
        position: absolute;
        left: 5%;
        bottom: 50%;
    }

    #previous img {
    	height: 50px;
    	-webkit-transform: scaleX(-1);
    	transform: scaleX(-1);
    }

    #next {
        position: absolute;
        right: 5%;
        bottom: 50%;
    }

    #next img {
    	height: 50px;
    }

    .textBlock{
        text-align: center;
        min-width: 230px;
        width: 53%;
        max-width: 625px;
        position: absolute;
        max-height: 92%;
        margin: 0 auto;
        top:49%;
        left:50%;
        padding:15px;
        -ms-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }

    .job h1 {
		font-family: "Raleway", sans-serif;
		font-weight: lighter;
		font-size: 2em;
		color: white;
		line-height: .85em;
	}

	.job h4 {
		font-size: 1em;
		color: white;
		line-height: .9em;
	}

	.scrollable {
	    height: 70vh;
	    overflow-y: auto;
	    position:relative;
	    top: -20px;
	}
	.scrollable::after {
	    content:'';
	    bottom: 0;
	    left: 0;
	    height: 40px;
	    right: 0;
	    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0))

	}

}

/**
 * Desktop
 */
@media only screen and (min-width: 641px) {
    html {
        min-height: 100%;
        overflow: hidden;
        margin: 0px;
        display: block;
    }

    body {
        opacity: 1;
        transition: .7s opacity;
        min-height: 100%;
        width: 100%;
        margin: 0px;
        display: block;
    }

	.mobile {
		display:none;
	}

	.desktop {
		display: block;
	}

	nav {
	    position: absolute;
	    right: 50px;
	    color: white;
	    font-family: 'Aleo', serif;
	    font-size: 2em;
	    bottom: 50%;
	    list-style:none;
	    text-align: right;
	}
    canvas {
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        display: inline;
        justify-content: center;
        align-items: center;
        min-width: 640px;
        min-height: 768px;
        max-width: 100%;
        max-height: 100%;
    }

    .contact {
        left: 50px;
        position: absolute;
        bottom: 30px;
    }

    .contact tr td img {
        width: 60px;
        height: auto;
    }

    .textBlock {
        text-align: center;
        min-width: 230px;
        width: 53%;
        max-width: 625px;
        position: absolute;
        max-height: 80%;
        margin: auto;
        top:52%;
        left:42%;
        padding:15px;
        -ms-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }

    @media only screen and (max-height: 585px) {
    	.textBlock {
    		top:42%;
    	}
    }

    .job h1 {
		font-family: "Raleway", sans-serif;
		font-weight: lighter;
		font-size: 2.5em;
		color: white;
	}

	.job h4 {
		font-size: 1em;
		color: white;
	}

    #previous {
        position: absolute;
        left: 9%;
        bottom: 50%;
    }

    #previous img {
    	height: 75px;
    	-webkit-transform: scaleX(-1);
    	transform: scaleX(-1);
    }

    #next {
        position: absolute;
        right: 25%;
        bottom: 50%;
    }

    #next img {
    	height: 75px;
    }

    .textBox {
        display: table;
        text-align: left;
        min-width: 250px;
        max-width: 625px;
        position: absolute;
        margin: 0 auto;
        bottom: 40%;
        left: 50px;
    }

    .heroText {
        text-align: left;
    }

    .scrollable {
	    height: 70vh;
	    overflow-y: auto;
	    position:relative;
	}
	.scrollable::after {
	    content:'';
	    bottom: 0;
	    left: 0;
	    height: 40px;
	    right: 0;
	    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0))

	}
    
}

/* END DESKTOP */


/**
 * Both Desktop/Mobile
 */

.canvas-content {
    width:100%;
    text-align: center;
}

body.fadeOut {
	opacity: 0;
	transition: .3s opacity;
}
body.index {
    background-image: linear-gradient(to bottom right, #6c82c4, #37344f);
    overflow: hidden;
}

body.aboutMe {
    background-image: linear-gradient(to bottom right, #92b378, #3b562e);
    overflow: hidden;
    /*background-image: url("/images/bg.jpg"); */
}

body.work {
    background-image: linear-gradient(to bottom right, #8f75c5, #472b67);
}

footer {
	font-family: "Raleway", sans-serif;
}

p {
	font-size: 2vw;
	color: white;
	display: inline-block;
	
}

.job p {
	font-family: "Inconsolata", sans-serif;
	font-size: 1.5em;
}

.job.chrome p {
    font-size: 1.25em;
}

.outerDiv {
	padding: 50px;
}

.heroText {
    font-size: 2em;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
}

footer {
    right: 50px;
    color: white;
    position: absolute;
    bottom: 50px;
    overflow: hidden;
}

td {
    padding: 5px;
}

.selected {
	/*border-bottom: 1px solid #d79494;*/
	text-decoration: none;
	position:relative;
	/*text-decoration: underline;
  	text-decoration-color: #d79494;*/
}

.selected:after {
	position: absolute;
    height: 1px;
    margin: 0 auto;
    content: '';
    left: 0;
    right: 0;
    width: 95%;
    color: #000;
    /*background-color: #d79494;*/
    background-color: tomato;
    left: 0;
    bottom: -1px;
}

a {
	color: white;
	text-decoration: none;

}

a:visited {
	color: white;
}

button {
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

